/* dcc.Loading component with transparent background */
/* this defines a style for a Loading component with parent_className='loading-wrapper' */
.loading_wrapper > div {
    visibility: visible !important;
}

/*used for the styling of the boxes around highlighted text after the techniques analysis*/
.hover-box:hover {
    background-color: #ffd77d;
    color: black;
    font-weight: normal;
}

/* for styling of the box containing the analyzed paragraph */
.analysis_results-container {
    margin:15px;
    padding: 20px;
    border: 1px solid #e1dbdb;
    border-radius: 6px;
    background-color: white;
    line-height: 2.1;
    text-align: justify;
    transition: box-shadow 0.7s ease-in-out;
}

/* just for a little shadow when hovering over results*/
.analysis_results-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* for styling of the box containing analysis of the sentences */
.sentence_info-container {
    margin:15px;
    padding: 20px;
    border: 1px solid #e1dbdb;
    border-radius: 6px;
    background-color: white;
    line-height: 1.8;
    text-align: justify;
    transition: box-shadow 0.7s ease-in-out;
}

/* just for a little shadow when hovering over results*/
.sentence_info-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* for styling of the box containing analysis of the sentences */
.sentence_techniques-container {
    margin:15px;
    padding: 15px;
    border: 1px solid #e1dbdb;
    border-radius: 6px;
    background-color: white;
    line-height: 2.5;
    transition: box-shadow 0.7s ease-in-out;
}

/* just for a little shadow when hovering over results*/
.sentence_techniques-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/*used for the styling of the abbreviations in the highlighted boxes displayed after the techniques analysis*/
.hover-text:hover {
    font-weight: 850;
}

/* custom loading - .gif with putin located in /assets */
.dash-spinner {
  background-image: url('putin-loader.gif');
  background-size: contain;
  background-repeat: no-repeat;
  height: 40vh !important;
  width: 20vh !important;
  margin-top: 27vh !important;
}

.dash-spinner * {
  display: none !important;
}